@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.title{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-align: start;
    margin: 3% 0%;
}
.navBar{
    display: flex;
    justify-content: space-between;
}
.tab{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
    opacity: 0.3;
    cursor: pointer;
}
.active{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
    cursor: pointer;
    opacity: 1;
}
.cardContainer{
    max-height: 300px;
    overflow-y: scroll;
}
.cardContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.card{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
    background: #F5F5F7;
    border-radius: 14px;
    padding: 24px 24px 24px 12px;
}
.imgComp{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
}
.imageIcon{
    width: 30px;
    height: 30px;
}
.text1{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
}
.textContainer{
    /* margin-left: 20px; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.text2{
    /* width: 80%; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #0C0B0B;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.rating{
    font-size: 12px;
    height: 14px;
    margin-left: 5px;
}
.timer{
    display: flex;
    align-items: center;
}
.icon{
    width: 20px;
    height: 20px;
}
.ratingContainer{
    display: flex;
    align-items: center;
}
.viewCourse{
    height: 30px;
    border: 2px solid #0C0B0B;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #0C0B0B;
    cursor: pointer;
}



@media(max-width:500px){
    .text2{
        width: 100%;
        font-size: 13px;
        line-height: 15px;
        text-align: start;
    }   
    .text1{
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .timer{
        margin-left: 5px;
    }
    .icon{
        width: 16px;
        height: 16px;
    }
    .rating{
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .textContainer{
        margin-left: 5px;
    }
    .card{
        padding: 24px 12px;
    }
    .viewCourse{
        font-size: 12px;
        line-height: 14px;
        border: 1px solid #0C0B0B;
    }
}

@media(max-width:850px){
    .tab{
        font-size: 14px;
    }
    .imgComp{
        width: 40px;
        height: 40px;
    }
    .cardContainer{
        height: auto;
    }
}
